html, body { background: #F7FFF7; margin: 0; padding: 0; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.main {
    padding: 0; margin: 0 auto;
    width: 320px;
}
.game {
    border-width: 0;
    position: relative;
    width: 320px;
}
canvas {
    border: 1px solid #CDC;
    width: 320px; height: 480px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}